.header {
    display: flex;
    justify-content: space-between;
    padding: 1% 20%;
    font-family: sans-serif;
    background-color: black;
    color: white;
    border-bottom: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size:medium;
}

.lista-header {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.lista-header-item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: 0 10%;
    color: white;
}

.header-titulo {
    display: flex;
    align-items: center;
    margin-right: 35%;
}

.imagem-titulo {
    width: 100px;
    height: 100px;
}

.lista-header-item-link {
    color:  white;
    text-decoration: none !important;
}